[Desktop Entry]
Type=Application
Name=Brave (Google)
Exec=brave-google %U
Icon=brave-browser
Categories=Network;WebBrowser;
Terminal=false
StartupNotify=true
